<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bruh</title>
  <link rel="stylesheet" href="product-list.component.css">

</head>

<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'" [href]="product.url" target="_blank">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <img [src]="product.img" alt="{{  product.img  }} image">

  <button type="button" (click)="share(product)">Share</button>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
